body {
  text-align: center;
  font-family: Helvetica;
}
.Broadway {
  background-image:
  url("E:/Newprojects/broadway/resources/images/the-flatiron-building.png");
  background-size: cover;
}
 h1 {
   color: white;
   font-size: 70px;
   font-weight: bold;
 }
a {
  font-size: 18px;
  color: white;
}
h3 {
  font-weight: bold;
  font-size: 23px;
}
h2 {
  font-size: 32px;
  font-weight: bold;
}
.process {
  font-size: 14px;
}
#dny {
  background-image:
  url("E:/Newprojects/broadway/resources/images/the-flatiron-building.png");
  font-weight: bold;
  font-size: 23px;
  color: white;
}
.feet {
  text-align: left;
  font-size: 11px;
  background-color: dimgray;
  color: white;
}
